<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Conclusion</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center "style="background-image: url(https://www.ssf.net/Home/ShowPublishedImage/246/636259529099630000); height: 300px; background-position: center; background-size: cover;"></div>
      <div class="heading text-center">
        <h1>Conclusion</h1><br>
        <li>Due to the proximity of high paying bio-tech and technology firms, families who are not in those industries lose the ability to remain in the district boundaries. Therefore, we see more available housing available in the south and west of SSFUSD</li>
        <li>Analysis show a decline in student enrollment as the median household income in San Mateo County increses</li>
        <li>The cause for decline in enrollment can be directly related to the decrease in available housing in the district</li>
    
        </div>
        <div class="container">
            <h3>Limitations:</h3>
            <ul>
                <li>Only had access to South San Francisco District student data in San Mateo County</li>
                <li>Private school student data was not taken into account</li>
                <li>Time</li>
          
              </ul>
        
  

  </div>

  <a href="/home" class="btn btn-dark" role="button" aria-pressed="true">Home</a>


</body>

</html>